.cover__subtitle {
    text-align: center;
    margin-top: 0;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 33px;
    font-size: 14px;
    line-height: 16px;
}

@media screen and (min-width: 768px) {
    .cover__subtitle {
        margin-top: 0;
        margin-bottom: 22px;
        font-size: 18px;
        line-height: 22px;
    }
}