.lead__title {
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 16px;
    text-align: center;
    font-size: 40px;
    line-height: 44px;
    font-family: 'Inter-Black';
}

@media screen and (min-width: 768px) {
    .lead__title {
        margin-left: 24px;
        margin-right: 24px;
        margin-bottom: 32px;
        font-size: 96px;
        line-height: 100px;
    }
}

@media screen and (min-width: 1024px) {
    .lead__title {
        margin-left: 0;
        margin-right: 0;
    }
}