.intro {
    width: 95%;
    margin: 0 auto 64px auto;
}

@media screen and (min-width: 768px) {
    .intro {
        margin-bottom: 88px;
    }
}

@media screen and (min-width: 1024px) {
    .intro {
        width: 68%;
        margin-left: 3%;
    }
}

@media screen and (min-width: 1280px) {
    .intro {
    margin-left: 15%;
    }
}