/* .place {
    display: grid;
    grid-template-columns: repeat(2, 460px);
    gap: 48px 40px;
    margin-bottom: 80px;
} */

@media screen and (min-width: 768px) {
    .place {
        display: grid;
        grid-template-columns: repeat(2, 340px);
        gap: 48px 28px;
        margin-bottom: 73px;
        margin-left: 0;
        margin-right: 0;
    }
}

@media screen and (min-width: 1024px) {
    .place {
        grid-template-columns: repeat(2, 440px);
        gap: 48px 32px;
        margin-bottom: 80px;
        margin-left: 48px;
        margin-right: 48px; 
    }
}

@media screen and (min-width: 1280px) {
    .place {
        grid-template-columns: repeat(2, 460px);
        column-gap: 40px;
        row-gap: 48px;
        margin-bottom: 80px;
        margin-left: 0;
        margin-right: 0;  
    }
}